 <div>
  
  <ul class="nav nav-tabs">
    <li routerLinkActive="active" > <a routerLink="/templateform" > Template Form(Student) </a> </li>
    <li routerLinkActive="active" > <a routerLink="/reactiveform" > Reactive Form(Employee) </a> </li>
    <li routerLinkActive="active"> <a routerLink="/oddevenpipe" > Custom Pipes(OddorEven) </a> </li>
    <li routerLinkActive="active"> <a routerLink="/scrolldirective"> Custom Directive(ScrollEvent) </a> </li>

  </ul>

</div>
<router-outlet></router-outlet>

<!-- <div>
    <router-outlet></router-outlet>
</div>  -->



<!-- <reactive-form></reactive-form>
<hr><hr>

<template-form></template-form>
<hr><hr>

<oddeven-pipe></oddeven-pipe>
<hr><hr>

<scroll-detect></scroll-detect>
<hr><hr> -->